.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.main {
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
}

#mainimage{
    margin: 10px;
    border: 2px solid #ccc;
    position: relative;
    width: 100%px;
}

#pizza{width: 100%;}

#cheesetopping{position: absolute; bottom: 0%; right: 0%; width: 100%; height: 100%; border-radius: 50%; opacity: 0.8; visibility: hidden;}

#hamtopping{position: absolute; top: 32%; right: 30%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#hamtopping2{position: absolute; top: 32%; left: 10%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#hamtopping3{position: absolute; bottom: 15%; right: 10%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#hamtopping4{position: absolute; bottom: 15%; left: 30%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#oniontopping{position: absolute; top: 32%; right: 10%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#oniontopping2{position: absolute; top: 15%; right: 30%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#oniontopping3{position: absolute; top: 32%; left: 30%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#oniontopping4{position: absolute; bottom: 32%; left: 30%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#mushroomtopping{position: absolute; bottom: 15%; right: 30%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#mushroomtopping2{position: absolute; top: 15%; right: 10%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#mushroomtopping3{position: absolute; top: 15%; left: 10%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#mushroomtopping4{position: absolute; bottom: 15%; left: 10%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#chickentopping{position: absolute; bottom: 32%; right: 10%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#chickentopping2{position: absolute; bottom: 32%; right: 30%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#chickentopping3{position: absolute; top: 15%; left: 30%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}

#chickentopping4{position: absolute; bottom: 32%; left: 10%; width: 15%; height: 15%; border-radius: 50%; opacity: 0.7; visibility: hidden;}


header {
    background: black;color:white;
    font-size:300%;
}

h2 {
    text-align: center;
}

footer {
    background: #aaa;color:white;
}

.nav {
    background:#eee;
}

/*.nav input {
    background: black;
}*/

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .main {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}
